$background-primary-color: #1B2A4A;
$background-secondary-color: #272A37;
$background-tertiary-color:#323644;
$color-blue-primary:#5195EA;
$color-blue-secondary:#2379e5;
$color-gray-primary: #9C9DA2;
$color-gray-secondary:#525561;
$color-gray-tertiary: #4C535F;
$color-gray-quaternary: #737687;
$color-white-primary:#ffff;
