<div class="container">
    <div class="row">
        <div class="col-12 pt-5">
            <div class="pb-3" id="news-createdAt">
                {{News.createdAt | date:'dd MMMM, yyyy'}}
            </div>
            <div class="h1 fs-2 fw-semibold">
                {{News.title}}
            </div>
            <div class="mt-2 text-uppercase" id="news-classification">
                {{News.classification}}
            </div>
            <div class="text-center fs-5 pt-5">
                {{News.subtitle}}
            </div>
        </div>
        <div class="col-12">
            <div class="pt-5 mx-auto d-block">
                <img src={{News.image}} class="img rounded-4" alt="">
            </div>
        </div>
        <div class="col-12">
            <div class="text-start mb-5" *ngFor="let item of paragraphs">
                <div class="col fs-3 fw-semibold mb-3 mt-3">
                    {{item.title}}
                </div>
                <div [ngClass]="{'col pt-4 clearfix': item.text.length >= 500, 'col d-inline-flex flex-row-reverse': item.text.length < 499 && item.image != null}">
                    <img src={{item.image}}
                        class="rounded-4 float-md-end" [ngClass]="{'col-md-4 mb-3 ms-md-3': item.text.length > 500, 'col-4': item.text.length < 499, '': item.image.length == 0 }"
                        width="400" height="200" alt="" *ngIf="item.image">
                    <div [ngClass]="{'': item.text.length >= 500, 'col-8 pe-5': item.text.length < 499 , 'col-12': item.image.length == 0 }">
                        {{item.text}}
                    </div>
            
                </div>



            </div>

        </div>
        <div class="text-start">
            <p><a href="{{News.link}}" target="_blank"> Leia mais no site oficial</a></p>
        </div>
    </div>

</div>