<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <img src="../../../../assets/images/photo-perfil.jpeg" class="img img-fluid rounded-5" id="photo-perfil"
                alt="">
        </div>
        <div class="col-6">
         
                <div class="h1 fs-3 fw-bold text-center">
                    Sobre Nós
                </div>
                <div class="text-start">
                    Sou o Paulo Henrique Espirito Santo de Almeida, tenho 22 anos e apaixonado por desafios e códigos.
                    Atualmente, estou imerso no fascinante mundo da Ciência da Computação, buscando compreender os
                    intricados caminhos da lógica e da programação. Como estudante, estou sempre em busca de novos
                    conhecimentos para aprimorar minhas habilidades e enfrentar os desafios do universo digital. E foi
                    por isso que pude desenvolver esse site, que mesmo sendo apenas o início, melhorias estão por vir!
                    Acredito que a tecnologia tem o poder de transformar o mundo, e é nesse contexto que encontro minha
                    paixão. Desde algoritmos complexos até a resolução de problemas práticos, encontro satisfação em
                    cada linha de código que escrevo.
                    Fora do mundo digital, sou uma pessoa curiosa e aberta a novas experiências. Gosto de explorar
                    diferentes áreas do conhecimento, principalmente na música, toco violão e faço parte do Coral da
                    Unijorge. Estou sempre em busca de crescimento pessoal e profissional, e a jornada pela Ciência da
                    Computação é a trilha que escolhi para alcançar esses objetivos.
                </div>
       
        </div>
    </div>
</div>